services:
  jupyter:
      image: quay.io/jupyter/datascience-notebook:latest
      ports:
        - "8888:8888"
      volumes:
        - ./data:/home/jovyan/work
      environment:
        - JUPYTER_ENABLE_LAB=yes
      command: "start-notebook.sh --NotebookApp.token=''"