services:
  # jupyter:
  #     image: quay.io/jupyter/datascience-notebook:latest
  #     ports:
  #       - "8888:8888"
  #     volumes:
  #       - ./data:/home/jovyan/work
  #     environment:
  #       - JUPYTER_ENABLE_LAB=yes
  #     command: "start-notebook.sh --NotebookApp.token=''"
  itslog:
    image: itslog:latest
    platform: linux/amd64
    command: bash -c "
      /app/its-log serve
      "
    ports:
      - "8888:8888"
    volumes:
      - ../itslog:/app
      - ../data/itslog:/data
    env_file: .env.local
    healthcheck:
      test: ["CMD", "curl", "-f", "http://itslog:8888/v1/health"]
      interval: 300s
      retries: 1
      start_period: 5s
      timeout: 3s

  e2e:
    image: itslog-e2e:latest
    command: "python3 /app/e2e/main.py"
    volumes:
      - .:/app
    profiles:
      - testing
    depends_on:
      itslog:
        condition: service_healthy
